In [3]:
#1A
name = 'Test name'
if(len(name) > 20):
    print('Name "{}" is more than 20 chars long'.format(name))
    length_description = 'long'
elif(len(name) > 15):
    print('Name "{}" is more than 15 chars long'.format(name))
    length_description = 'semi long'
elif(len(name) > 10):
    print('Name "{}" is more than 10 chars long'.format(name))
    length_description = 'semi long'
elif(len(name) == 7 or len(name) == 8 or len(name) == 9):
    print('Name "{}" is 8, 9 or 10 chars long'.format(name))
    length_description = 'semi short'
else:
    print('Name "{}" is a short name'.format(name))
    length_description = 'short'

Name "Test name" is 8, 9 or 10 chars long

In [20]:
#1B
n = 10
for i in range(0,n):
    if i < 5:
        print(" " * (5-i) + "A"*i)
    else:
        print(" " * (i-5) + "A"*(10-i))

    A
   AA
  AAA
 AAAA
AAAAA
 AAAA
  AAA
   AA
    A

In [7]:
#1C1
data = [50,10,5,90,62,12,90,40,12,18,1,7,42,12,16,17,88,81,100,51,32,81,54,32,43,4,23,48,60,19]
n = len(data)
for i in range(0,n):
    if(data[i] < 10 or data[i] > 90):
        print(data[i])

5
1
7
100
4

In [8]:
#1C2
count = 0
data = [50,10,5,90,62,12,90,40,12,18,1,7,42,12,16,17,88,81,100,51,32,81,54,32,43,4,23,48,60,19]
n = len(data)
for i in range(0,n):
    count = count + 1
mean = sum(data)/count
    
print("The max is: {0}".format(max(data)))
print("The min is: {0}".format(min(data)))
print("The sum is: {0}".format(sum(data)))
print("The count is: {0}".format(count))
print("The mean is: {0}".format(mean))

The max is: 100
The min is: 1
The sum is: 1200
The count is: 30
The mean is: 40.0

In [9]:
#2A1
import pandas as pd

df = pd.read_csv("pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
#2A2
df.count(axis='columns')
#800

0      13
1      13
2      13
3      13
4      12
       ..
795    13
796    13
797    13
798    13
799    13
Length: 800, dtype: int64

In [11]:
#2A3
df2 = df[df["Legendary"] == True]
print(df2)

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [12]:
#2A4
print(df2[['HP', 'Attack', 'Defense', 'Speed']])

      HP  Attack  Defense  Speed
156   90      85      100     85
157   90      90       85    100
158   90     100       90     90
162  106     110       90    130
163  106     190      100    130
..   ...     ...      ...    ...
795   50     100      150     50
796   50     160      110    110
797   80     110       60     70
798   80     160       60     80
799   80     110      120     70

[65 rows x 4 columns]

In [13]:
#3A
diction = dict(name='Tim Cook', age='59', salary='3000000.0')
print(diction)

{'name': 'Tim Cook', 'age': '59', 'salary': '3000000.0'}

In [14]:
#3B
names = ['Tim Cook', 'Person 2', 'Person 3']
ages = [59, 24, 40]
saleries = [30000000.0, 200000.0, 900000.0]
d = dict(name=names, age=ages, salary=saleries)
print(d)

{'name': ['Tim Cook', 'Person 2', 'Person 3'], 'age': [59, 24, 40], 'salary': [30000000.0, 200000.0, 900000.0]}

In [15]:
#3C
import pandas as pd
Q3 = pd.DataFrame.from_dict(d)
Q3

       name  age      salary
0  Tim Cook   59  30000000.0
1  Person 2   24    200000.0
2  Person 3   40    900000.0

In [16]:
#3D
Rename = Q3.rename(columns={"name": "N", "age": "A", "salary": "S"})
Rename

          N   A           S
0  Tim Cook  59  30000000.0
1  Person 2  24    200000.0
2  Person 3  40    900000.0